@{
    ViewData["Title"] = "Streaming page";
}

<div class="container">
    <div class="video-container">
        <video id="webcam" autoplay muted></video>
    </div>
    <button id="startStreaming">Start Streaming</button>
</div>

@section Scripts {
    <script type="text/javascript">
    const videoElement = document.getElementById('webcam');
    const startStreamingButton = document.getElementById('startStreaming');
    startStreamingButton.addEventListener('click', startWebcam);

    async function startWebcam() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia({ video: true });
            videoElement.srcObject = stream;

            // Aqui é onde você poderia adicionar o código para iniciar o streaming via RTSP.
            // O RTSP geralmente requer comunicação com um servidor que gerencia o streaming.
            // Em um projeto mais avançado, você precisaria integrar um servidor de mídia.

        } catch (error) {
            console.error('Error while trying to access the WebCam:', error);
            alert('It was not possible to access the WebCam: ' + error);
        }
    }

    </script>
}